---
layout: default
---

     <section class="slideshow-section section-full">
          <div class="slideshow">
            <ul class="slides">
              {% for image in site.data.slideshow-images limit:1 %}
                <li style="background: url( {{ image.path }}) no-repeat;background-size: cover;">
                    <div class="container-slideshow" >
                        <div class="container-slideshow-inner">
                           <h1 class="editable">Karate & Kobudo</h1>
                            <h3 class="editable"><a href="{{ site.baseurl }}/news">Nέα τμήματα στη Θεσσαλονίκη</a></h3>
                            <div class="continue-reading-front editable"><a href="{{ site.baseurl }}/news">Περισσότερα</a></div>
                            <span class="line white small"></span>
                            <p class="editable">Σχολές άσκησης και μελέτης των παραδοσιακών πολεμικών τεχνών της Οκινάβας</p>                            
                        </div>
                    </div>
                </li>
              {% endfor %}
              </ul>
          </div>
        </section>
        
         <section class="regions-section section-full">
             <div class="container-front">
              <ul class="dojo-regions"> 
                     {% for dojo in site.dojo %}                            
                                <li class="editable">
                                    <h1><a href="{{ site.baseurl }}/program">{{ dojo.region | uppercase }}</a></h1>
                                </li>                                                 
                        {% endfor %}
                    </ul>
             </div>             
        </section>
        

          <section class="news-section section-full">
              <div class="container-front">
                  <h5 class="section-title">Τα νέα μας</h5>
                    <span class="line small red"></span> 
                      {% for news in site.tags.sticky %}
                          <div class="content-inner">                   
                              <h1><a href="{{ site.baseurl }}/news">{{ news.title}}</a> </h1>
                              <div class="post-more">
                                  {{ news.content  }}
                              </div>
                          </div>		   	
                         {% endfor %}
                  </div>
        </section>
        
                    <section class="contact-section section-full">          
                                <div class="container-front">
                                    <h5 class="section-title">Μείνετε ενημερωμένοι</h5>
                                    <span class="line small red"></span> 
                                    <ul>
                                        <li class="editable">
                                            <a href="https://facebook.com/thes.suibukan"><i class="fa fa-facebook fa-5"></i>/thes.suibukan</a>
                                        </li>
                                        <li class="editable">
                                            <a href="http://eepurl.com/29nnX"><i class="fa fa-envelope fa-5"></i>/email-newsletter</a>                                       
                                        </li>
                                    </ul>                           
                                 </div>
                        </section>
        
         <section class="videos-section section-full">          
         <div class="container-front">
           <h5 class="section-title">Videos</h5>
            <a href="cloudcannon:collections/_data/videos.yml" class="editor-link">Edit videos</a>
              <span class="line small red"></span> 
           {% for video in site.data.videos limit:1 %}                  
                     <h2> {{ video.title }} </h2>
                     <div class="videos-left">
                         <div class="video-player-responsive">
                         <iframe width="640" height="360"  src="//www.youtube.com/embed/{{ video.url }}?rel=0" frameborder="0" allowfullscreen></iframe>
                         </div>
                     </div>
                  {% endfor %}
                           <div class="videos-right"> 
                               <h2> Περισσότερα video</h2>
                                 {% for video in site.data.videos offset:1 %}                               
                                  <h3><a href="{{ site.baseurl }}/videos/#{{ video.url }}">{{ video.title }} </a><span>{{ video.duration }}</span></h3>                                                      
                                  {% endfor %}
                              </div>        
             </div>
      </section>

     
            
      <section class="articles-section section-full">          
         <div class="container-front">
             <h5 class="section-title">Άρθρα</h5>
              <span class="line small red"></span> 
                 <ul>
                   {% for post in site.categories['articles'] limit: 4 %} 
                         <li class="articles-list">
                                 <div class="article caption editable">
                                      <a href="cloudcannon:collections/{{ post.path }}" class="editor-link">Edit post</a>
                                      <div class="article-img caption__media">
                                             <img src="https://i.embed.ly/1/display/crop?key=f2a5d1ca3f744334a53723f0baf9c13a&url={{post.image}}&width=320&height=320" alt="{{post.title}}">
                                         </div>
                                     <div class="blog-text-front caption__overlay">
                                     <span class="line small white "></span>
                                     <h5 class="articles-title caption__overlay__title"> <a href="{{ post.url }}">{{ post.title }}</a></h5>
                                         </div>
                                  </div>
                             </li>           
                      {% endfor %}                               
                  </ul>
                             <div class="read-more"> 
                                  <div class="continue-reading-front">
                                      <a href="{{ site.baseurl }}/articles">Περισσότερα Άρθρα</a> 
                                 </div>    
                             </div>
             </div>
      </section>
        
  
        
