    <!-- Modernizr -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.1/modernizr.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.2/fastclick.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
    <script type="text/javascript" src="http://iris-metro.codio.io:4000/js/svg-injector.min.js"></script>
<!--         http://osvaldas.info/drop-down-navigation-responsive-and-touch-friendly -->
    <script src="http://iris-metro.codio.io:4000/js/doubletaptogo.min.js" ></script> 
    <script>$( '#nav li:has(ul)' ).doubleTapToGo();</script>
    <!--     Footer date autoupdate -->
    <script>
    jQuery(document).ready(function() { 
    var strStart = '2014'; 
    var strYear = new Date(); 
    if (strStart == strYear.getFullYear()) { jQuery("#copyright_year").html(strStart); } 
    else { jQuery("#copyright_year").html(strStart + '-' + strYear.getFullYear()); } }); 
     </script>

      <script>
    // Elements to inject
    var mySVGsToInject = document.querySelectorAll('.iconic-sprite');

    // Do the injection
    SVGInjector(mySVGsToInject);
  </script>