<footer class="site-footer section-full">          
         <div class="container-front footer-top">
                     <div class="left">
                             <h3>Suibukan at "DOJO"</h3>
                         <span class="line white small"></span>
                             <p>m.6976441064</p>
                             <p>email:dervas@suibukan.com</p>
                             <p><a href="https://www.facebook.com/suibukan">Facebook</a></p>                      
                         </div>
                     <div class="right">
                             <h3>Dojo Techican</h3>
                         <span class="line white small"></span>
                            <p>email:info@dojo-thessaloniki.gr</p>
                            <p>17ης Νοέμβρη 81, Κωνσταντινοπολίτικα – Πυλαία</p>
                            <p>(προέκταση Γρ. Λαμπράκη πριν το Γένεσις)</p>
                            <p><a href="www.facebook.com/Dojo.Thessaloniki">Facebook</a></p>
                         </div>
             </div>   
    <div class="footer-bottom section-full">
                <div class="container-front"> 
                  &copy; 2010-<span id="copyright_year">2014</span>, 
                  SuiBuKan Organization Greece. All rights reserved. Webdesign and development by <a href="techangel.gr">Techangel</a>
            </div>
    </div>
    </footer>