<footer class="site-footer section-full">          
         <div class="container-front footer-top">
                     <div class="left">
                             <h3 class="editable" >Suibukan</h3>
                         <span class="line white small"></span>
                             <p class="editable">κιν.6988.073.821</p>
                             <p class="editable">email:info@suibukan.com</p>
                             <p class="editable"><a href="https://www.facebook.com/thes.suibukan">facebook/thes.suibukan</a></p>                      
                         </div>
                     <div class="right">
                           
                         </div>
             </div>   
    <div class="footer-bottom section-full">
                <div class="container-front editable"> 
                  &copy;<span id="copyright_year"></span>,
                  SuiBuKan Organization Greece. All rights reserved. Webdesign and development by <a href="techangel.gr">Techangel</a>
            </div>
    </div>
    </footer>
