<header class="site-header-wrapper">
        <div class="site-header">
                <div class="logo editable">
                    <a href="{{ site.baseurl }}/"><span class="logo-title" > SUIBUKAN </span><span class="logo-subheader">at Thessaloniki</span></a>
                    </div>
                <div class="menu-wrapper" >
                        <nav id="nav" role="navigation">
                            <ul>	
                                {% for menu in site.data.menu %}                     
                                        <li class="editable">
                                            <a href="{{ site.baseurl }}/{{ menu.href }}">{{ menu.title }}</a>
                                        </li>
                                {% endfor %}
                            </ul>                
                        </nav>    
                    </div>
            </div>     
</header>
