---
---
@import "layouts/post-simon-layout";
@import "layouts/place-simon-layout";
@import "typography";


$bg-body: #fff;
$bg-header: #f7f7f7;
$text-header: #9c9d9f;
$text-content: #333333;
$bg-content: #ffffff;
$border: #E9E9E9;
$link-hover: #B40133;
$icon-hover: #d4d4d4;

.place {
    h1 {
        font-size: 4em;
        margin-bottom: 1em;        
    }
    p {
        margin-bottom: 2em;
    }
}

.content {
    .content-inner {
        float:left;
        padding-top: 45px;
        padding-bottom: 45px;
        background: $bg-content;
    }
    h1, h1 a {
        font-size: 3rem;
        margin-bottom: 2.5rem;
    }
    .post-more {
        margin-bottom: 2em;
    }
    .post-img {
        float:left;
        background: $bg-content;
    }
    .continue-reading {
        float:right;
        background: #ddd;
        padding: 5px 20px;
            &:hover {
                background: $link-hover;
            }
            a {
                 color: $text-content;
                 font-size: 0.9em;
            }
        
    }
}

.sidebar {
		.sidebar-content {
            float: left;
			padding:50px 30px 30px;
			background-color: #fff;
            .sidebar-block {
                margin-bottom: 2em;
            }
            h3 {
                font-weight: 700;
                font-family: 'Roboto Slab' , sans-serif;
                margin-bottom: 0.8em;
                }
            }
}
.sidebar .sidebar-block {
    float: left;
    width: 100%;
        ul li {
            list-style: none;
            a {
                width:100%;
                font-size: 0.9em;
                display: block;
                float: left;
                padding: 5px 0;
                border-bottom: 1px $bg-body solid;
                .icon-container {
                    fill: #fff;
                    width: 24px;
                    height: 24px;
                    display: inline-block;
                    line-height: 4em;
                }
                &:hover {
                    color: $link-hover;
                    background: $bg-body;
                    .icon-container {
                        fill: $icon-hover;
                    }
                }
                .list-item {
                    @include span(90% inside of 4);
                }
            }                 
        }
}
