     
<!DOCTYPE html>
<html>

  {% include head-post.html %}

    <body>

        {% include header-post-include.html %}

    <div class="page">
        <div class="container">
             <div class="content">
                 
                                  <div class="content-inner">
                                      <h1>SuiBuKan</h1>
                <p>Στην Ελλάδα το Suibukan αποτελεί μια ξεχωριστή σχολή άσκησης και μελέτης των παραδοσιακών πολεμικών τεχνών της Οκινάβας. Συγκεκριμένα, του shorin ryu karate do, του Marayoshi kobudo και του Yamashita suikendo. Στον οργανισμό υπάγονται 4 dοjο στην Ελλάδα (Αθήνα, Θεσσαλονίκη, Πάτρα). Επιπλέον, ο οργανισμός έχει δημιουργήσει και υποστηρίζει πανεπιστημιακές λέσχες Suibukan στο Εθνικό Μετσόβιο Πολυτεχνείο, στο Καποδιστριακό Πανεπιστήμιο Αθηνών, στο Πάντειο Πανεπιστήμιο, στο Αριστοτέλειο Πανεπιστήμιο Θεσσαλονίκης, και στο Πανεπιστήμιο Πατρών.</p>
<p>Το shorin ryu karate do, το Matayoshi kobudo και το Yamashita suikendo είναι μαχητικές τέχνες, είναι χορός, είναι μια σύνθετη μορφή γυμναστικής,  είναι ένας τρόπος σκέψης, είναι ένας τρόπος ζωής. Η σωματική προπόνηση των τεχνών αυτών είναι μια από τις πιο σύνθετες και ολοκληρωμένες μορφές σωματικής άσκησης. Απαιτεί την ένταξη και καλλιέργεια σωματικών ικανοτήτων όπως ταχύτητα, επιτάχυνση, δύναμη, αντοχή, ευελιξία και συντονισμό και επιπλέον αναπτύσσει σε υψηλά επίπεδα την ικανότητα συγκέντρωσης. Η μακρόχρονη προσπάθεια και άσκηση αντανακλά θετικά στην προσωπικότητα, δημιουργεί στωική διάθεση απέναντι στη ζωή και ευαισθητοποιεί τον ασκούμενο απέναντι στη φύση και τον άνθρωπο αφαιρώντας το άγχος. Πιστεύουμε ότι η άσκηση στις ανατολικές παραδοσιακές μαχητικές τέχνες με τον σωστό τρόπο προσφέρει ταυτόχρονα στο άτομο και στην κοινωνία μέσα στην οποία λειτουργεί.</p>
<p>Η θεώρηση που έχουμε στο Suibukan για τις πολεμικές τέχνες δεν είναι στην αγωνιστική τους μορφή. Σκοπός μας δεν είναι να παράγουμε αθλητές που θα ανταγωνίζονται για την απόκτηση κάποιου μεταλλίου, αλλά μαχητές της ζωής που θα συναγωνίζονται στην κοινωνία. Η υπεραπλούστευση των πολεμικών τεχνών και η τάση να ασκούνται μόνο στη αθλητική μορφή τους, απογυμνωμένες από πρακτικές που συντελούν στη διαμόρφωση του χαρακτήρα του ασκούμενου, μας βρίσκουν εντελώς αντίθετους.</p>
<p>Γι’ αυτό και το Suibukan απευθύνεται σε όλους – γιατί έχει κάτι να δώσει στον καθένα. Δεν απαιτείται προϋπηρεσία στις πολεμικές τέχνες ή καλή φυσική κατάσταση, γι’ αυτό και μπορούν όλοι να συμμετέχουν στη χαρά της άσκησης και της προσπάθειας, ανεξαρτήτως φύλου ή ηλικίας.<br>
Βαθύτερα, το Suibukan είναι μία κοινότητα προσώπων που μοιράζονται όχι μόνο τη χαρά της φυσικής άσκησης αλλά και τη χαρά της κοινωνικής επαφής σε επίπεδο οικογενειών. Σε μιά εποχή που πολλές αρχές έχουν κατακρημνισθεί, πιστεύουμε ότι ο χώρος του Suibukan είναι μια όαση όπου συντηρούνται διαχρονικές αξίες που στηρίζουν τον άνθρωπο, την οικογένεια και, κατ’ επέκταση, την κοινωνία.</p>
<p>Δεν υπάρχουν καλά και άσχημα στυλ karate, απλά υπάρχουν καλοί και κακοί δάσκαλοι. Ο δάσκαλος πρέπει να έχει καλή γνώση του αντικειμένου, μεταδοτικότητα και ήθος. Η προσωπική του ζωή και συμπεριφορά καθώς και η ικανότητά του στην τέχνη του karate είναι αντικειμενικά κριτήρια σύμφωνα με τα οποία ο υποψήφιος μαθητής κρίνει και επιλέγει δάσκαλο.<br>
O kyoshi Μπάμπης Πολυχρονόπουλος είναι ο επικεφαλής εκπαιδευτής του Suibukan στην Ευρώπη. Είναι προσωπικός μαθητής του παγκοσμίως γνωστού master Yamashita Tadashi, ιδρυτή του Suikendo και  επικεφαλής εκπαιδευτή του Shοrin ryu καθώς και του Matayoshi Kοbudο στις Η.Π.Α.</p>
</div>
                 </div>

            
		   <div class="sidebar">
               <div class="sidebar-content">
                   <div>
                        <img src="http://iris-metro.codio.io:4000/css/open-iconic/sprite/open-iconic.svg" class="iconic-sprite" style="display:none;" />
                    </div>
                   {% include  sidebar-martialarts.html %}
                   {% include  sidebar-news.html %} 
                   {% include  sidebar-articles.html %} 
               </div>
	  		</div>
            
        </div>
    </div>

    {% include footer-post-include.html %}
        
    {% include bottom-post.html %}

    </body>
</html>