<!DOCTYPE html>
<html>

  {% include head-simon.html %}

    <body>

        {% include header-simon-include.html %}

    <div class="page">
        <div class="container-front">
             <div class="content-full">
                 
                 <section class="place-section">
                         <h1>Dojo</h1>
                         <p>
                         ‘DOJO’ σημαίνει χώρος άσκησης και προέρχεται από την Ιαπωνική γλώσσα. Το Dojo είναι ο χώρος συνάντησης και πρακτικής των ασκούμενων οποιασδήποτε γιαπωνέζικης πολεμικής τέχνης. Παράδοσή του είναι να φροντίζεται από τους ασκούμενους που το χρησιμοποιούν, έτσι διατηρείται πάντα καθαρό με συνείδηση και προσφορά. 
Είναι ‘αρχή’ στην είσοδο του Dojo να αφήνουμε τα παπούτσια μας. Μ’αυτόν τον τρόπο αφήνουμε εκεί ό,τι έχει προηγηθεί στη μέρα μας. Μπαίνοντας στο χώρο για να εξασκηθεί το σώμα, δε ξεχνάμε πως η ισορροπία μας θα έρθει διατηρώντας καθαρό το νου μας όπως ακριβώς φροντίζουμε και το σπίτι μας. Το Dojo είναι κάτι παραπάνω από μια αίθουσα γυμναστηρίου. Είναι ο χώρος που κανείς θα επιλέξει να ενταχθεί σε κάποιο τμήμα όχι μόνο για τη σωματική του άσκηση, μα και για τη νοητική συγκέντρωση και αυτοβελτίωση που προσφέρει το πνεύμα του χώρου. Ελπίζουμε λοιπόν εδώ να βρείτε την πρακτική σας, την ομαδικοτητα και τη γαλήνη που χρειάζεστε στην καθημερινότητά σας.
                         </p>
                             <div class="top">
                                 <img class="caption" src="{{ site.data.slideshow-images[0].path }}" data-caption="{{ site.data.slideshow-images[0].caption }}" >
                             </div>
                             <div class="medium">
                                 <div class="left">
                                     <img class="caption" src="https://i.embed.ly/1/display/crop?key=f2a5d1ca3f744334a53723f0baf9c13a&url={{ site.data.slideshow-images[2].path }}&width=629&height=884" data-caption="{{ site.data.slideshow-images[2].caption }}">
                                     </div>
                                 <div class="right">
                                     <img class="caption" src="{{ site.data.slideshow-images[3].path }}" data-caption="{{ site.data.slideshow-images[3].caption }}">
                                     </div>
                             </div>
                             <div class="bottom">
                                 <img class="caption"  src="{{ site.data.slideshow-images[1].path }}"data-caption="{{ site.data.slideshow-images[1].caption }}" >
                             </div>      
                    </section>
                 
            </div>            
        </div>
    </div>

    {% include footer-include.html %}
        
    {% include bottom-post.html %}

    </body>
</html>